header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.site-title {
    font-size: 24px;
    color: var(--header-color);
}

.menu-container {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    flex-grow: 1;
}

.theme-icon-container {
    display: flex;
    align-items: center;
    margin-right: 8px;
}

.theme-toggle {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.menu {
    display: flex;
    background-color: var(--text-color);
    border: 3px solid var(--button-color);
    border-radius: 15px;
    padding: 8px;
}

.language-container {
    display: flex;
    align-items: center;
    margin-left: 8px;
}

.language-toggle {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.menu-button {
    background-color: transparent;
    color: var(--second-text-color);
    border: none;
    border-radius: 8px;
    padding: 16px;
    margin: 0 8px;
    cursor: pointer;
    font-size: 16px;
}

.login-button, .register-button {
    padding: 24px 48px;
    border-radius: 15px;
    cursor: pointer;
    border: none;
    font-size: 16px;
    margin-left: 8px;
}

.login-button {
    background-color: var(--background-color);
    border: 3px solid var(--button-color);
    color: var(--text-color);
}

.register-button {
    background-color: var(--button-color);
    color: var(--text-color);
    padding: 24px; /
}

main h1 {
    font-size: 32px;
    text-align: center;
}

.content-block {
    background-color: var(--second-text-color);
    box-shadow: 0 12px 24px rgba(0, 0, 0, [1)](1));
    border-radius: 32px;
    padding: 16px 16px 16px;
    max-width: fit-content;
    margin-left: 40px; /
    margin-bottom: 16px;
}

.content-block p {
    font-size: 16px;
}

.gallery-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container {
    width: 60vw;
    aspect-ratio: 16/9;
    border-radius: 32px;
    overflow: hidden;
    background-color: #f0f0f0;
    margin-bottom: 20px;
}

.current-image {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.prev-button, .next-button {
    margin: 0 16px;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}

h2 {
    font-size: 24px;
}

.center-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.content-block ul {
    font-size: 16px;
}

footer {
    padding: 16px;
}

@media (max-width: 1024px) {
    .menu-container {
        display: none;
    }
}