.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: white;
  padding: 0;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  max-width: 400px;
  width: 90%;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  color: black;
  min-height: 200px;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.modal-header {
  background-color: var(--button-color);
  color: white;
  font-weight: bold;
  padding: 16px 20px;
  font-size: 18px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  top: 0;
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-content {
  padding: 20px;
  overflow-y: auto;
  flex-grow: 1;
}

.modal-footer {
  padding: 16px 20px;
  text-align: right;
  background-color: #f4f4f4;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  position: sticky;
  bottom: 0;
}

.modal-content ul {
  list-style-type: disc;
  padding-left: 20px;
  text-align: left;
  margin-bottom: 20px;
}

.modal-content p {
  margin-bottom: 20px;
}

.modal-footer button {
  background-color: var(--button-color);
  border: none;
  color: white;
  padding: 8px 18px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.modal-footer button:hover {
  background-color: var(--hover-button-color);
}

.modal-content::-webkit-scrollbar-thumb {
  background-color: var(--button-color);
  border-radius: 4px;
}

.modal-content::-webkit-scrollbar-thumb:hover {
  background-color: var(--hover-button-color);
}

.modal-content::-webkit-scrollbar {
  width: 8px;
}

.modal-content::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 4px;
}

.modal-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.modal-close-icon {
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 12px;
  margin-right: -6px;
  transition: color 0.2s ease;
}

.modal-close-icon:hover {
  color: #ddd;
}
