@font-face {
    font-family: 'Nunito';
    font-weight: 700;
    src: url('../fonts/Nunito-Bold.ttf') format('truetype');
}

body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    color: var(--text-color);
    background-color: var(--background-color);
    transition: background-color 0.3s, color 0.3s;
}

:root {
    --header-color: #5680E9;
    --background-color: #C1C8E4;
    --button-color: #8860D0;
    --text-color: #FFFFFF;
    --second-text-color: #ACB3CE;
    --hover-button-color: #7449C6;
}

.dark-mode {
    --header-color: #FFFFFF;
    --background-color: #1F1F1F;
    --button-color: #5A5A5A;
    --text-color: #FFFFFF;
    --second-text-color: #ACB3CE;
    --hover-button-color: #7A7A7A;
}

h1, h2, h3 {
    color: var(--header-color);
    font-weight: 700;
}

a.menu-button,
a.login-button,
a.register-button {
    font-family: 'Nunito', sans-serif;
    background-color: var(--button-color);
    color: var(--text-color);
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

a.menu-button:not(.prev-button):not(.next-button):hover,
a.login-button:hover,
a.register-button:hover {
    transform: scale(1.05);
    background-color: var(--hover-button-color);
    border-color: var(--hover-button-color);
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.loader-spinner {
    width: 60px;
    height: 60px;
    border: 6px solid #f3f3f3;
    border-top: 6px solid var(--main-color, #3498db);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

