@font-face {
    font-family: 'Nunito';
    font-weight: 700; /* Bold */
    src: url('../fonts/Nunito-Bold.ttf') format('truetype'); /* Укажите правильный путь к файлу шрифта */
}

/* Общие настройки */
body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    color: var(--text-color);
    background-color: var(--background-color);
}

svg fill {

}

/* Светлая тема */
:root {
    --header-color: #5680E9; /* Цвет заголовков */
    --background-color: #C1C8E4; /* Цвет фона */
    --button-color: #8860D0; /* Цвет кнопков */
    --text-color: #FFFFFF; /* Цвет текста */
    --second-text-color: #ACB3CE; /* Второй цвет текста */
    --hover-button-color: #7449C6;
}

/* Темная тема */
.dark-mode {
    --header-color: #FFFFFF; /* Цвет заголовков в темной теме */
    --background-color: #1F1F1F; /* Цвет фона в темной теме */
    --button-color: #5A5A5A; /* Цвет кнопков в темной теме */
    --text-color: #FFFFFF; /* Цвет текста в темной теме */
    --second-text-color: #ACB3CE; /* Второй цвет текста */
    --hover-button-color: #7A7A7A;
}

/* Стили для заголовков */
h1, h2, h3 {
    color: var(--header-color);
    font-weight: 700; /* Устанавливаем жирный шрифт для заголовков */
}

/* Стили для кнопок */
button {
    font-family: 'Nunito', sans-serif;
    background-color: var(--button-color);
    color: var(--text-color);
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    transform: scale(1.05);
    background-color: var(--hover-button-color);
    border-color: var(--hover-button-color);
}